section
  section
    h1 Entracte
    h2 Management/Évolution
    
  section
    h3 Entretien annuel
    
    p Manager / Career Manager
    blockquote Tu as fait une super année. On est content de ton travail. Mais tu comprends, en régie, on n'a pas de visibilité sur ce que tu as fait.
    img(src="img/dont_care.gif")
