section
  section
    h1 Acte 1
    h2 Le projet unique
    img(src="img/ring.gif")
  
  section
    h3 Ubika
    
    p 1er projet (stage)
    p APEC
    p From scratch
    p POC Mobile
    
  section
    h3 Equipe projet
    ul
      li 1 CP/dev
      li 1 archi dev
      li 1 SM/dev
      li 1 dev senior quelques jours/mois
      li 3 devs
      li.fragment 1 responsable fonctionnel
      li.fragment 1 recetteur

  section
    h3 Wow
    p.fragment 1er projet "Agile"
    p.fragment Equipe technique efficace
    p.fragment Client impliqué
    img.fragment(src="img/omgbby.gif" height="300px")

  section
    h3 Agile ?
    
    table
      thead
        tr
          th
          th Capgemini
          th Theodo
      tbody
        tr
          td Sprint
          td 3 semaines
          td 1 semaine
        tr
          td Fonctionnalités
          td Users stories + découpage équipe
          td Tickets unitaires, découpés
        tr
          td Validation
          td Recette Sprint S+1
          td Au fil de l'eau
        tr
          td Démo
          td Démarre la cérémonie
          td Pas nécessaire
        tr
          td Board
          td Post its
          td Trello FTW

  section
    h3 Agile chez Cap
    ul
      li Revues techniques difficiles sous SVN
      li.fragment Sprint longs
        ul
          li Poker planning sur des Users Stories...
          li puis découpage en unité de travail
          li Perte de sens pour la BDC
      li.fragment Contrat "forfait" adapté
        ul
          li Engagement sur un nombre d'itérations
          li "Acceptation" des itérations
          li Bonus sur jalons métier

  section
    h3 Agile ?
    h4 Cap + Theodo
    p.fragment Tests (unitaires)
    p.fragment Intégration continue
    p.fragment Implication PO : présent au daily meeting
    p.fragment Équipe indépendante
    p.fragment Limitation des dépendances extérieures

  section
    h3 Donc c'est comme ça partout ?
    ul
      li.fragment Porté par un chef de projet + SM
      li.fragment Pas de méthodo généralisée
        ul
          li Ex: Dérive du projet Guichet Entreprise
      li.fragment Pragmatisme/Initiative pas autant développé
        ul
          li Écart standard > Problème > Réaction
    
