section
  section
    h1 Acte 4
    h2 Leur futur ?
    
  section
    h3 Nouvelles structures
    ul
      li Lab' Innovation
        ul
          li Kinect : assistant virtuel
          li Table Surface : agence de voyage SNCF
          li Apple Watch : Détection de chute
      li Digital factory

  section
    h3 Agilité dans les projets mais pas dans les process ?
    ul
      li Lean très peu présent
      li Inertie générale
      li Cloisonnement des entités du groupe
