section
  section
    h1 Acte 2 
    h2 La débrouille
    img(src="img/no_idea_3.gif")

  section
    h3 MGP
    p 2 jours de formation interne Jahia...
    p.fragment Go faire du Jahia !
    
  section
    h3 Contexte
    
    table
      tbody
        tr
          td
            ul
              li Re-création d’équipe de dev
              li Beaucoup de projets
              ul
                li Site internet
                li Intranet annuaire
                li Reprise site existant + nouveau devs
                li Outil CRA
          td.vertical-center
            img(src="img/no_idea_1.gif")
