section
  section
    h1 Historique
    img(src="img/not_interesting.gif" height="300px")

  section
    h2 Capgemini ?
    h2 Sogeti ?
    ul
      li Capgemini (180k personnes)
      li Capgemini Technology and Services (36k personnes)
      li Services (BU)
      li Custom Software Development (Skill Group)

  section
    p Sogeti fondé en 1967 à Grenoble
    p Fusion avec CAP en 74
    p Fusion avec Gemini en 75
    p Multiples acquisitions, fusion depuis.
    h3.fragment(style="margin-top: 30px;") Aujourd’hui, 11,9 milliards d'€ CA

  section
    h2 Recrutement
    ul
      li Recrutement sur salon
      li Entretiens La Défense
      li Dev Suresnes
  section
    h2 A posteriori
    ul
      li Turn over
      li Embauche à bas prix
      li Petites écoles d’ingé
      li Vendeurs de rêve au Maroc
