section
  section
    h1 Acte 3
    h2 La chute
    img(src="img/fall.gif")
    
  section
    h3 Les "autres" projets
    
    table
      tbody
        tr
          td
            ul
              li OCRTIS (Cycle V)
              li.fragment CNAV ("Agile")
              li.fragment Expert Jahia
                ul
                  li Formation internes
              li.fragment Projet en douce : ANSES
              
              li.fragment Guichet entreprise
          td.vertical-center
            img(src="img/bored.gif")
