section
  section
    h1 Historique
    img(src="img/not_interesting.gif" height="300px")

  section
    h2 Capgemini ?
    h2 Sogeti ?
    ul
      li Capgemini (180k personnes)
      li Capgemini Technology and Services (36k personnes)
      li Services (BU)
      li Custom Software Development (Skill Group)

  section
    p Sogeti fondé en 1967 à Grenoble
    p Fusion avec CAP en 74
    p Fusion avec Gemini en 75
    p Multiples acquisitions, fusions depuis :
    p Prosodie, Eutiware, Igate
    h3.fragment(style="margin-top: 30px;") Aujourd’hui, 11,9 milliards d'€ CA
