section
  section
    h1 Entracte
    h2 L'infra
    img(src="img/infra.gif")
    
  section
    h3 L'infra
    ul
      li SVN forever
      li Infra très lourde
        ul
          li Pas de serveur de test généralisé
          li Instance de Jenkins pour chaque projet
      li Coût projet
