doctype html
html
  include inc/head
  body
    .reveal
      .logo
        span From
        img(src="img/capgemini_small.png")
        span to
        img(src="img/theodo-logo-medium.png")
      .slides
        include ../slides/slide-1
        include ../slides/slide-2
        include ../slides/slide-4-ubika
        include ../slides/slide-5-mgp
        include ../slides/slide-6-management
        include ../slides/slide-7-chute
        include ../slides/slide-8-infra
        include ../slides/slide-9-futur
        include ../slides/slide-10-end
      a.github(href="https://github.com/kraynel")
        i.fa.fa-github
        span kraynel
      a.twitter(href="https://twitter.com/kraynl")
        i.fa.fa-twitter
        span @kraynl
    include inc/scripts
