/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

//@import "reveal-themes/black"
// @import "reveal-themes/white"
@import "reveal-themes/league"
// @import "reveal-themes/blood"
// @import "reveal-themes/beige"



/*
* Highlight Themes
* uncomment your favorite theme
* check them live at: https://highlightjs.org/static/demo/
* and convert them from this: https://github.com/isagalaev/highlight.js/tree/master/src/styles
*/
//@import "highlight-themes/zenburn"

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

.reveal
  h1
    font-size 3em
  li
    margin: 20px auto

  blockquote
    margin: 1em auto
    padding: 50px

  .logo
    display: flex
    align-items: center
    position: absolute
    right: 10px
    top: 10px
    height: 90px
    span
      padding 0 10px


  .github
    z-index 10000
    i
      margin-right 5px
    span
      font-size 24px
    position absolute
    bottom 20px
    left 20px

  .twitter
    z-index 10000
    i
      margin-right 5px
    span
      font-size 24px
    position absolute
    bottom 20px
    left 180px

  .vertical-center
    vertical-align middle
